<!DOCTYPE html>
<!--https://scoopme-lindaweng.c9users.io/-->
<!--<p></p> paragraph-->
<!--<h1></h1> biggest-->
<!--<h6></h6> smallest-->
<!--<a></a> hyperlink-->
<!--<div></div> boxes-->
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ScoopMe</title>
    <link rel="shortcut icon" href="img/car-logo.ico" length = 16px width = 16px>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/creative.min.css" rel="stylesheet">
    <link href="../css/style1.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" style= "color: #005ADE !important; font-family: 'Comfortaa'">ScoopMe</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about" style = "font-family: 'Josefin Sans'">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup" style = "font-family: 'Josefin Sans'">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#login" style = "font-family: 'Josefin Sans'">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex" style="background-image: none; background:linear-gradient(to left, #54E1FF, #1AFBB4)">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase" >
              <img src="img/car-logo.png" style="max-width:30%; height: auto" alt="Car logo">
              <br><br>
              <strong style = "font-family: 'Comfortaa'">ScoopMe</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <h5 class="text-faded mb-5" style = "font-family: 'Josefin Sans'">ScoopMe will get you where you need to be!</h5>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about" style = "font-family: 'Comfortaa'">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about" style="background: #005ADE !important">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white" style = "font-family: 'Comfortaa'">Need a ride to school or practice?</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4" style = "font-family: 'Josefin Sans'">ScoopMe has everything you need to get to school and other related activities for students who don't have rides. Think of us as your ridesharing website!</p>
            <!--<li></li>-->
            <!--<h1 class = "text-faded mb-4"> Sign Up Here!</h1>-->
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center" style="max-width:33.33%; flex:0 0 33.33%">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-id-card-o text-primary mb-3 sr-icons" style="color:white !important"></i>
                <h3 class="mb-3 text-white" style = "font-family: 'Comfortaa'">Secure Drivers</h3>
                <br> </br>
                <h5 class="text-faded mb-4" style = "font-family: 'Josefin Sans'">We ensure that all of our drivers are properly licensed.</h5>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="max-width:33.33%; flex:0 0 33.33%">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-street-view text-primary mb-3 sr-icons" style="color:white !important"></i>
                <h3 class="mb-3 text-white" style = "font-family: 'Comfortaa'">Focused on You</h3>
                <br></br>
                <h5 class="text-faded mb-4" style = "font-family: 'Josefin Sans'">You get to decide your riders and drivers.</h5>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="max-width:33.33%; flex:0 0 33.33%">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons" style="color:white !important"></i>
                <h3 class="mb-3 text-white" style = "font-family: 'Comfortaa'">Passion for Transportation</h3>
                <h5 class="text-faded mb-4" style = "font-family: 'Josefin Sans'">We want to provide every student with the transportation for their education.</h5>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="col-lg-8 mx-auto text-center">
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#signup" style = "font-family: 'Comfortaa'">Sign Up</a>
        </div>
      </div>
    </section>

    <section id="signup" style="background: #1AFBB4!important">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading" style="color: black" style = "font-family: 'Comfortaa'">Sign Up</h2>
            <hr class="my-4">
            <h4 class="text-black mb-5" style = "font-family: 'Josefin Sans'">Ready to register? That's great! First tell us if you're planning to be a driver or a rider.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-car" style="font-size:48px;color:blue"></i>
            <p></p>
            <a href="/driverSignup" style="color:blue; text-decoration: none; font-family: 'Josefin Sans'; font-size: 200%">Drivers</a>
          </div>
          <p></p>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-child" style="font-size:48px;color:#2EEE46"></i>
            <p></p>
              <a href="/riderSignup" style = "color:#2EEE46; text-decoration: none; font-family: 'Josefin Sans'; font-size: 200%">Riders</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section id="login" style="background:#FFEB04 !important">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading" style="color: black; font-family: 'Comfortaa'">Login</h2>
            <hr class="my-4">
            <h4 class="text-black mb-5" style = "font-family: 'Josefin Sans'">Already signed up? Tell us whether you're a driver or a rider.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-car" style="font-size:48px;color:blue"></i>
            <p></p>
            <a href="/driverLogin" style="color:blue; text-decoration: none; font-family: 'Josefin Sans'; font-size: 200%">Drivers</a>
          </div>
          <p></p>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-child" style="font-size:48px;color:#2EEE46"></i>
            <p></p>
              <a href="/riderLogin" style = "color: #2EEE46; text-decoration: none; font-family: 'Josefin Sans'; font-size: 200%">Riders</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="col-lg-8 mx-auto text-center" id="feedback">
      <h2 style = "font-family: 'Comfortaa'">Feedback</h2>
      <br></br>
      <h4 style = "font-family: 'Josefin Sans'">This is still a work in progress so we would love your feedback or suggestions!</h4>
     
      <form method="POST" action="/feedback">
        <textarea type="text" name="feedback" placeholder="Feedback or suggestion" style="width:100%" required></textarea>
        <br>
        <h4 style="text-align:left; font-family: 'Josefin Sans'">Name (Optional)</h4>
        <input type="text" name="name" style="width:30%; float:left">
        <br><br>
        <h4 style="text-align:left; font-family: 'Josefin Sans'">Email (Optional)</h4>
        <input type="email" name="email" style="width:30%; float:left">
        <br><br>
        <input type="submit" style="float:left">
      </form>
    </section>
      
    <footer>
      <div class="footer">
        <p>&copy; SCOOPME 2018 </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
