<!DOCTYPE html>
<!--https://scoopme-lindaweng.c9users.io/-->
<!--<p></p> paragraph-->
<!--<h1></h1> biggest-->
<!--<h6></h6> smallest-->
<!--<a></a> hyperlink-->
<!--<div></div> boxes-->
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ScoopMe</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/creative.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" style= "color: #005ADE !important">ScoopMe</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#services">Services</a>-->
            </li>
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>-->
            <!--</li>-->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Sign Up</a>
            </li>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex" style="background-image: none; background:linear-gradient(to left, #54E1FF, #1AFBB4)">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>ScoopMe</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">ScoopMe will get you where you need to be!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about" style="background: #005ADE !important">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Need a ride to school or practice?</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">ScoopMe has everything you need to get to school and other related activities for students who don't have rides. Think of us as your ridesharing website!</p>
            <!--<li></li>-->
            <!--<h1 class = "text-faded mb-4"> Sign Up Here!</h1>-->
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center" style="max-width:33.33%; flex:0 0 33.33%">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-id-card-o text-primary mb-3 sr-icons" style="color:white !important"></i>
                <h3 class="mb-3 text-white">Secure Drivers</h3>
                <p class="text-faded mb-4">We ensure that all of our drivers are properly licensed.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="max-width:33.33%; flex:0 0 33.33%">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-street-view text-primary mb-3 sr-icons" style="color:white !important"></i>
                <h3 class="mb-3 text-white">Focused on You</h3>
                <p class="text-faded mb-4">You get to decide your riders and drivers.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="max-width:33.33%; flex:0 0 33.33%">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons" style="color:white !important"></i>
                <h3 class="mb-3 text-white">Passion for Transportation</h3>
                <p class="text-faded mb-4">We want to provide every student with the transportation for their education.</p>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="col-lg-8 mx-auto text-center">
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#signup">Sign Up</a>
        </div>
      </div>
    </section>

    <!--<section id="services">-->
    <!--  <div class="container">-->
    <!--    <div class="row">-->
    <!--      <div class="col-lg-12 text-center">-->
    <!--        <h2 class="section-heading">At Your Service</h2>-->
    <!--        <hr class="my-4">-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="container">-->
    <!--    <div class="row">-->
    <!--      <div class="col-lg-3 col-md-6 text-center" style="max-width:33.33%; flex:0 0 33.33%">-->
    <!--        <div class="service-box mt-5 mx-auto">-->
    <!--          <i class="fa fa-4x fa-automobile text-primary mb-3 sr-icons"></i>-->
    <!--          <h3 class="mb-3">Secure Drivers</h3>-->
    <!--          <p class="text-muted mb-0">We ensure that all of our drivers are properly licensed.</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="col-lg-3 col-md-6 text-center" style="max-width:33.33%; flex:0 0 33.33%">-->
    <!--        <div class="service-box mt-5 mx-auto">-->
    <!--          <i class="fa fa-4x fa-street-view text-primary mb-3 sr-icons"></i>-->
    <!--          <h3 class="mb-3">Focused on You</h3>-->
    <!--          <p class="text-muted mb-0">You get to decide your riders and drivers.</p>-->
    <!--        </div>-->
    <!--      </div>-->
          <!--<div class="col-lg-3 col-md-6 text-center">-->
          <!--  <div class="service-box mt-5 mx-auto">-->
          <!--    <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>-->
          <!--    <h3 class="mb-3">Up to Date</h3>-->
          <!--    <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>-->
          <!--  </div>-->
          <!--</div>-->
    <!--      <div class="col-lg-3 col-md-6 text-center" style="max-width:33.33%; flex:0 0 33.33%">-->
    <!--        <div class="service-box mt-5 mx-auto">-->
    <!--          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>-->
    <!--          <h3 class="mb-3">Passion for Transportation</h3>-->
    <!--          <p class="text-muted mb-0">We want to provide every student with the transportation for their education.</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</section>-->

    <!--<section class="p-0" id="portfolio">-->
    <!--  <div class="container-fluid p-0">-->
    <!--    <div class="row no-gutters popup-gallery">-->
    <!--      <div class="col-lg-4 col-sm-6">-->
    <!--        <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">-->
    <!--          <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">-->
    <!--          <div class="portfolio-box-caption">-->
    <!--            <div class="portfolio-box-caption-content">-->
    <!--              <div class="project-category text-faded">-->
    <!--                Category-->
    <!--              </div>-->
    <!--              <div class="project-name">-->
    <!--                Project Name-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="col-lg-4 col-sm-6">-->
    <!--        <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">-->
    <!--          <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">-->
    <!--          <div class="portfolio-box-caption">-->
    <!--            <div class="portfolio-box-caption-content">-->
    <!--              <div class="project-category text-faded">-->
    <!--                Category-->
    <!--              </div>-->
    <!--              <div class="project-name">-->
    <!--                Project Name-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="col-lg-4 col-sm-6">-->
    <!--        <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">-->
    <!--          <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">-->
    <!--          <div class="portfolio-box-caption">-->
    <!--            <div class="portfolio-box-caption-content">-->
    <!--              <div class="project-category text-faded">-->
    <!--                Category-->
    <!--              </div>-->
    <!--              <div class="project-name">-->
    <!--                Project Name-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="col-lg-4 col-sm-6">-->
    <!--        <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">-->
    <!--          <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">-->
    <!--          <div class="portfolio-box-caption">-->
    <!--            <div class="portfolio-box-caption-content">-->
    <!--              <div class="project-category text-faded">-->
    <!--                Category-->
    <!--              </div>-->
    <!--              <div class="project-name">-->
    <!--                Project Name-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="col-lg-4 col-sm-6">-->
    <!--        <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">-->
    <!--          <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">-->
    <!--          <div class="portfolio-box-caption">-->
    <!--            <div class="portfolio-box-caption-content">-->
    <!--              <div class="project-category text-faded">-->
    <!--                Category-->
    <!--              </div>-->
    <!--              <div class="project-name">-->
    <!--                Project Name-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="col-lg-4 col-sm-6">-->
    <!--        <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">-->
    <!--          <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">-->
    <!--          <div class="portfolio-box-caption">-->
    <!--            <div class="portfolio-box-caption-content">-->
    <!--              <div class="project-category text-faded">-->
    <!--                Category-->
    <!--              </div>-->
    <!--              <div class="project-name">-->
    <!--                Project Name-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </a>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</section>-->

    <!--<section class="bg-dark text-white">-->
    <!--  <div class="container text-center">-->
    <!--    <h2 class="mb-4">Free Download at Start Bootstrap!</h2>-->
    <!--    <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>-->
    <!--  </div>-->
    <!--</section>-->

    <section id="signup" style="background: #1AFBB4!important">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading" style="color: black">Sign Up</h2>
            <hr class="my-4">
            <p class="text-black mb-5">Ready to register? That's great! First tell us if you're planning to be a driver or a rider.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-car" style="font-size:48px;color:blue"></i>
            <p></p>
            <a href="/driverSignup" style="color:blue; text-decoration: none">Drivers</a>
          </div>
          <p></p>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-child" style="font-size:48px;color:#2EEE46"></i>
            <p></p>
              <a href="/riderSignup" style = "color:#2EEE46; text-decoration: none">Riders</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section id="login" style="background:#FFEB04 !important">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading" style="color: black">Login</h2>
            <hr class="my-4">
            <p class="text-black mb-5">Already signed up? Tell us whether you're a driver or a rider.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-car" style="font-size:48px;color:blue"></i>
            <p></p>
            <a href="/driverLogin" style="color:blue; text-decoration: none">Drivers</a>
          </div>
          <p></p>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-child" style="font-size:48px;color:#2EEE46"></i>
            <p></p>
              <a href="/riderLogin" style = "color: #2EEE46; text-decoration: none">Riders</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="col-lg-8 mx-auto text-center" id="feedback">
      <h2>Feedback</h2>
      <h4>This is still a work in progress so we would love your feedback or suggestions!</h4>
      <form method="POST" action="/feedback">
        <textarea type="text" name="feedback" placeholder="Feedback or suggestion" style="width:100%" required></textarea>
        <br>
        <h4 style="text-align:left">Name (Optional)</h4>
        <input type="text" name="name" style="width:30%; float:left">
        <br><br>
        <h4 style="text-align:left">Email (Optional)</h4>
        <input type="email" name="email" style="width:30%; float:left">
        <br><br>
        <input type="submit" style="float:left">
      </form>
    </section>
      
    <footer>
      <div class="footer">
        <p>&copy; SCOOPME 2018 </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
